/mc-paper/cache
/mc-paper/libraries
/mc-paper/logs
/mc-paper/versions
/mc-paper/world
/mc-paper/world_nether
/mc-paper/world_the_end
/mc-paper/banned-ips.json
/mc-paper/banned-player.json
/mc-paper/usercache.json
/mc-paper/version_history.json
/mc-paper/whitelist.json
/mc-paper/plugins/Vault
/mc-paper/plugins/LuckPerms/libraries
/mc-paper/plugins/LuckPerms/translations
/mc-paper/plugins/LuckPerms/contexts.json
/mc-paper/plugins/Essentials/userdata
/mc-paper/plugins/Essentials/warps

